DATABASE_URL="postgresql://database_user:database_password@postgres:5432/database_name"
JWT_SECRET="your_jwt_secret_key"

CLIENT_ID="Client ID from 42 API"
CLIENT_SECRET="Client Secret from 42 API"
CALLBACK_URL="https://localhost/auth/42/callback"