  services:
    # Front-End Service
    front-end:
      build: ./front-end
      container_name: front-end
      restart: always
      ports:
        - "5173:5173"
      networks:
        - my-app-network
      volumes:
        - ./front-end:/app:Z
        - /app/node_modules
      
    # Nginx Service
    nginx:
      container_name: nginx
      build: ./back-end/nginx
      restart: always
      ports:
        - "8080:80"
      depends_on:
        - front-end
      networks:
        - my-app-network
    postgres:
      container_name: postgres
      build: ./back-end/database
      restart: always
      ports:
        - "5433:5432"
      networks:
        - my-app-network

    core_service:
      container_name: core_service
      build:
       context: back-end
       dockerfile: Dockerfile
       args:
        - app_name=core
      restart: always
      ports:
        - "3000:3000"
      depends_on:
        - postgres
      networks:
        - my-app-network
    chat_service:
      container_name: chat_service
      build: ./back-end/chat
      restart: always
      ports:
        - "3001:3000"
      depends_on:
        - postgres
      networks:
        - my-app-network
    auth_service:
      container_name: auth_service
      build: ./back-end/auth
      restart: always
      ports:
        - "3002:3000"
      depends_on:
        - postgres
      networks:
        - my-app-network

  # Networks
  networks:
    my-app-network:
      name: my-app-network
      driver: bridge